# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_PUHKB2_LEFT

config ZMK_KEYBOARD_NAME
    default "PUHKB3"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PUHKB2_LEFT || SHIELD_PUHKB2_RIGHT

config ZMK_SPLIT
    default y
    
endif
