# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_PUHKB2_DONGLE

config ZMK_KEYBOARD_NAME
    default "PUHKB2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PUHKB2_DONGLE || SHIELD_PUHKB2_LEFT || SHIELD_PUHKB2_RIGHT || SHIELD_PUHKB2_NUMPAD

config ZMK_SPLIT
    default y
    
endif
