/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define LF1 1
#define LF2 2
#define LF3 3
#define LF4 4
#define RF1 5
#define RF2 6
#define RF3 7
#define RF4 8
#define GAM 9
#define GAM2 10

/ {

	conditional_layers {
		compatible = "zmk,conditional-layers";
		lf3_layer {
			if-layers = <LF1 LF2>;
			then-layer = <LF3>;
		};
		rf3_layer {
			if-layers = <RF1 RF2>;
			then-layer = <RF3>;
        };
    };
    
	behaviors {
		td0: tap_dance_0 {
            		compatible = "zmk,behavior-tap-dance";
            		#binding-cells = <0>;
			tapping-term-ms = <500>;
            		bindings = <&kp KP_PLUS>, <&kp KP_MULTIPLY>;
        	};
        td1: tap_dance_1 {
            		compatible = "zmk,behavior-tap-dance";
            		#binding-cells = <0>;
            		tapping-term-ms = <500>;
            		bindings = <&kp KP_MINUS>, <&kp KP_DIVIDE>;
        	};
		td2: tap_dance_2 {
            		compatible = "zmk,behavior-tap-dance";
            		#binding-cells = <0>;
            		tapping-term-ms = <500>;
            		bindings = <&kp KP_DOT>, <&kp COMMA>;
        	};
        skq: sticky_key_quick_release {
        		compatible = "zmk,behavior-sticky-key";
        		#binding-cells = <1>;
        		bindings = <&kp>;
        		release-after-ms = <3000>;
        		quick-release;
        		ignore-modifiers;
      		};
    };
    
	keymap {
		compatible = "zmk,keymap";
        
		default_layer {
			display-name = "BASE";
// * BASE
// * |---------------------------|
// * |  N7  |  N8  |  N9  |  +   |
// * |---------------------------|
// * |  N4  |  N5  |  N6  |  -   |
// * |---------------------------|
// * |  *   |  N1  |  N2  |  N3  |
// * |---------------------------|
// * |  /   |  N0  |  .,  | RET/1|
// * |---------------------------|
// * |xxxxxx|xxxxxx|xxxxxx|xxxxxx|
// * |---------------------------|
// */
            bindings = <
&kp KP_N7       &kp KP_N8 &kp KP_N9 &kp KP_PLUS
&kp KP_N4       &kp KP_N5 &kp KP_N6 &kp KP_MINUS
&kp KP_MULTIPLY &kp KP_N1 &kp KP_N2 &kp KP_N3
&kp KP_DIVIDE   &kp KP_N0 &td2      &lt 1 RET   
            >;
        };

		lf1_layer {
			display-name = "LF1";
// * LF1
// * |---------------------------|
// * |  F7  |  F8  |  F9  |  F11 |
// * |---------------------------|
// * |  F4  |  F5  |  F6  |  F12 |
// * |---------------------------|
// * |StuUnl|  F1  |  F2  |  F3  |
// * |---------------------------|
// * |  NUM |  F10 | LF2  | RET/1|
// * |---------------------------|
// * |xxxxxx|xxxxxx|xxxxxx|xxxxxx|
// * |---------------------------|
// */
            bindings = <
&kp F7         &kp F8  &kp F9  &kp F11
&kp F4         &kp F5  &kp F6  &kp F12
&studio_unlock &kp F1  &kp F2  &kp F3
&kp KP_NUM     &kp F10 &mo LF2 &lt 1 RET
            >;
        };
        
		lf2_layer {
			display-name = "LF2";
// * LF2
// * |---------------------------|
// * |BT_CLR|BTCLRA|xxxxxx|xxxxxx|
// * |---------------------------|
// * |BTDIS1|BTDIS2|BTDIS3|xxxxxx|
// * |---------------------------|
// * |xxxxxx|BTSEC1|BTSEC2|BTSEC3|
// * |---------------------------|
// * |xxxxxx|  N0  |  .,  | RET/1|
// * |---------------------------|
// * |xxxxxx|xxxxxx|xxxxxx|xxxxxx|
// * |---------------------------|
// */
            bindings = <
&bt BT_CLR      &bt BT_CLR_ALL &none         &none
&bt BT_DISC 1   &bt BT_DISC 2  &bt BT_DISC 3 &none
&none           &bt BT_SEL 1   &bt BT_SEL 2  &bt BT_SEL 3
&none           &kp KP_N0      &td2          &lt 1 RET
            >;
        };
        
		lf3_layer {
			display-name = "LF3";
// * LF3
// * |---------------------------|
// * |BT_CLR|BTCLRA|xxxxxx|xxxxxx|
// * |---------------------------|
// * |BTDIS1|BTDIS2|BTDIS3|xxxxxx|
// * |---------------------------|
// * |xxxxxx|BTSEC1|BTSEC2|BTSEC3|
// * |---------------------------|
// * |xxxxxx|  N0  |  .,  | RET/1|
// * |---------------------------|
// * |xxxxxx|xxxxxx|xxxxxx|xxxxxx|
// * |---------------------------|
// */
            bindings = <
&bt BT_CLR      &bt BT_CLR_ALL &none         &none
&bt BT_DISC 1   &bt BT_DISC 2  &bt BT_DISC 3 &none
&none           &bt BT_SEL 1   &bt BT_SEL 2  &bt BT_SEL 3
&none           &kp KP_N0      &td2          &lt 1 RET
            >;
        };
        
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
    };
};
